[Unit]
Description=changes alacritty colorscheme (light / dark) depending on the time

[Service]
ExecStart=/home/cardoso/.config/termite/color_change
