#################################################################
#################   Start of all the settings   #################
#################################################################
# KEY DEFINITIONS TO REMEMBER

# $Mod = WINDOWS key or Super key or Mod4
# Mod1 = ALT key
# Control = CTRL key
# Shift = SHIFT key
# Escape = ESCAPE key
# Return = ENTER or RETURN key
# KP_Enter = Keypad Enter
# Pause = PAUSE key
# Print = PRINT key
# Tab = TAB key


####################################################################
#################   Define the $mod variable/key   #################
####################################################################
# Key to rule them all : Super(Windows) or Alt key?
# Mod4 = Windows or Super key on keyboard
# Mod1 = Alt key on keyboard
#Set Alt key
#set $mod Mod1

#set Super key
set $mod Mod4


#############################################################################
#################   Define the movements keys - variables   #################
#############################################################################
# defining movement keys
set $left   h
set $down   j
set $up     k
set $right  l


##############################################################
#################   Single and Dual screen   #################
##############################################################
# setting variables for later use
# use xrandr and/or arandr to know the names of your monitors
# asus
set $firstMonitor   eDP1
# set $secondMonitor  HDMI-1-1

# macbook
# set $firstMonitor   LVDS1

# setting variable names for workspaces
set $ws1 ""
set $ws2 ""
set $ws3 ""
set $ws4 ""
set $ws5 ""
set $ws6 ""
set $ws7 ""
set $ws8 ""
set $ws9 ""
set $ws10 ""

# defining output for worksṕaces
# workspace $ws1 output # $firstMonitor
workspace $ws2 output   $firstMonitor
workspace $ws3 output   $secondMonitor
workspace $ws4 output   $secondMonitor
# workspace $ws5 output # $firstMonitor
workspace $ws6 output   $secondMonitor
# workspace $ws7 output # $secondMonitor
# workspace $ws8 output # $secondMonitor
# workspace $ws9 output # $secondMonitor
workspace $ws10 output  $secondMonitor

# defining default layouts for workspace
# workspace_layout        tabbed
workspace_layout        default
# switch to workspace
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $ws1;  workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2;  workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3;  workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4;  workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5;  workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6;  workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7;  workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8;  workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9;  workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws10; workspace  $ws10

# move focused container to workspace
bindsym $mod+Ctrl+1 move container to workspace $ws1
bindsym $mod+Ctrl+2 move container to workspace $ws2
bindsym $mod+Ctrl+3 move container to workspace $ws3
bindsym $mod+Ctrl+4 move container to workspace $ws4
bindsym $mod+Ctrl+5 move container to workspace $ws5
bindsym $mod+Ctrl+6 move container to workspace $ws6
bindsym $mod+Ctrl+7 move container to workspace $ws7
bindsym $mod+Ctrl+8 move container to workspace $ws8
bindsym $mod+Ctrl+9 move container to workspace $ws9
bindsym $mod+Ctrl+0 move container to workspace $ws10

# move to other screen
bindsym $mod+Shift+m move workspace to output right
bindsym $mod+m focus output right


############################################################
#################          menu             ################
############################################################
# start dmenu
# bindsym $mod+d exec --no-startup-id \
#     dmenu_run -i -nb '$darkgray' -nf '$blue' \
#             -sb '$blue' -sf '$darkgray' -fn 'Cascadia Code PL:bold:pixelsize=18'
bindsym $mod+d exec --no-startup-id rofi -show run -theme dmenu

# start xfce-appfinder
bindsym $mod+Shift+d exec --no-startup-id rofi -show drun -theme dmenu


############################################################
#################          apps             ################
############################################################
bindsym $mod+Shitf+h exec --no-startup-id python \
                /home/cardoso/cs50ai/minesweeper/runner.py

bindsym $mod+Shift+v exec --no-startup-id \
                    /home/cardoso/.config/i3/scripts/mpv_web


#########################################################################
#################   how to exit, logoff, suspend, ...   #################
#########################################################################
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec --no-startup-id "i3-nagbar -t warning -m 'You \
            pressed the exit shortcut. Do you really want to exit i3? This \
            will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"


#Press $mod (super) and X to exit - check toolbar for next choices
# bindsym $mod+Shift+X mode "$mode_system"
bindsym $mod+Shift+X exec /home/cardoso/.config/scripts/exit

set $mode_system System (k) lock, (l) logout, (u) suspend, (h) hibernate, \
(r) reboot, (s) shutdown
mode "$mode_system" {
    bindsym k exec --no-startup-id ~/.config/i3/scripts/i3exit.sh lock, \
        mode "default"
    bindsym l exec --no-startup-id ~/.config/i3/scripts/i3exit.sh logout,\
        mode "default"
    bindsym u exec --no-startup-id ~/.config/i3/scripts/i3exit.sh suspend, \
        mode "default"
    bindsym h exec --no-startup-id ~/.config/i3/scripts/i3exit.sh hibernate, \
        mode "default"
    bindsym r exec --no-startup-id ~/.config/i3/scripts/i3exit.sh reboot, \
        mode "default"
    bindsym s exec --no-startup-id ~/.config/i3/scripts/i3exit.sh shutdown, \
        mode "default"

    # back to normal: Enter or Escape
    bindsym Return mode "default"
    bindsym Escape mode "default"
}


####################################################################
#################   reload changed configuration   #################
####################################################################
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart

# reload the configuration file
bindsym $mod+Shift+c reload


###############################################################
#################   Stopping an application   #################
###############################################################
# kill focused window
bindsym $mod+Shift+q kill


###########################################################
#################   Moving around in i3   #################
###########################################################
# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus
bindsym $mod+$left focus        left
bindsym $mod+$down focus        down
bindsym $mod+$up focus          up
bindsym $mod+$right focus       right

# alternatively, you can use the cursor keys:
# bindsym $mod+Left focus         left
# bindsym $mod+Down focus         down
# bindsym $mod+Up focus           up
# bindsym $mod+Right focus        right

# move focused window
bindsym $mod+Shift+$left move   left
bindsym $mod+Shift+$down move   down
bindsym $mod+Shift+$up move     up
bindsym $mod+Shift+$right move  right

# alternatively, you can use the cursor keys:
# bindsym $mod+Shift+Left move    left
# bindsym $mod+Shift+Down move    down
# bindsym $mod+Shift+Up move      up
# bindsym $mod+Shift+Right move   right

# lets you cycle over a container without going to any container
focus_wrapping force

################################################################
#################   moving around workspaces   #################
################################################################
# next/previous workspace

bindsym Mod1+Tab workspace          next
bindsym Mod1+Shift+Tab workspace    prev
bindsym $mod+Tab workspace          back_and_forth

#navigate workspaces next / previous
bindsym Mod1+Ctrl+Right workspace   next
bindsym Mod1+Ctrl+Left workspace    prev

# switch to workspace with urgent window automatically
for_window [urgent=latest] focus

#########################################################
#################   Tiling parameters   #################
#########################################################
# orientation for new workspaces
default_orientation horizontal

# enter fullscreen mode for the focused container
# Super + F in arcolinux is execute thunar
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
# qwerty/azerty issue for letter z
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split
bindsym $mod+n split horizontal
bindsym $mod+v split vertical

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
bindsym $mod+z focus child

# move to and from scratchpad
bindsym $mod+Shift+minus move scratchpad
bindsym $mod+minus scratchpad show

##############################################
#################   mouse    #################
##############################################
set $mouseMover Mouse movement : quit (c)     move far (hjkl)     move close (hjkl+shift/v)        click (i) click&exit(spacebar/enter)   right click (shift+spacebar / I)       scrollUp/Down (o/p)
    bindsym $mod+c mode "$mouseMover"
    mode "$mouseMover" {
        bindsym c mode "default"
        bindsym Escape mode "default"

        bindsym space exec xdotool click 1 ; mode "default"
        bindsym enter exec xdotool click 1 ; mode "default"
        bindsym i exec xdotool click 1

        bindsym shift+space exec xdotool click 2
        bindsym shift+i exec xdotool click 3

        bindsym Up exec xdotool click 4
        bindsym Down exec xdotool click 5

        bindsym h exec xdotool mousemove_relative -- -200 0
        bindsym j exec xdotool mousemove_relative 0 200
        bindsym k exec xdotool mousemove_relative 0 -200
        bindsym l exec xdotool mousemove_relative 200 0

        bindsym shift+h exec xdotool mousemove_relative -- -10 0
        bindsym shift+j exec xdotool mousemove_relative 0 10
        bindsym shift+k exec xdotool mousemove_relative 0 -10
        bindsym shift+l exec xdotool mousemove_relative 10 0
        # bindsym shift+h exec xdotool mousemove_relative -- -25 0
        # bindsym shift+j exec xdotool mousemove_relative 0 25
        # bindsym shift+k exec xdotool mousemove_relative 0 -25
        # bindsym shift+l exec xdotool mousemove_relative 25 0

 }

##############################################
#################   resize   #################
##############################################

bindsym $mod+control+$left       resize shrink width 2 px or 2 ppt
bindsym $mod+control+$down       resize grow height 2 px or 2 ppt
bindsym $mod+control+$up         resize shrink height 2 px or 2 ppt
bindsym $mod+control+$right      resize grow width 2 px or 2 ppt

# resize window (you can also use the mouse for that)

bindsym $mod+r mode "resize"

mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym $left       resize shrink width 2 px or 2 ppt
        bindsym $down       resize grow height 2 px or 2 ppt
        bindsym $up         resize shrink height 2 px or 2 ppt
        bindsym $right      resize grow width 2 px or 2 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}


#######################################################
#################   choose the font   #################
#######################################################

# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below.
# choose your font
font pango: Caskaydia Cove Nerd Font Mono 0


##########################################################################
#################   assign applications to workspaces   ##################
##########################################################################

assign [class="URxvt"] $ws1
assign [class="St"] $ws1
# assign [class="Alacritty"] $ws1

assign [class="Spyder"] $ws2
assign [class="RStudio"] $ws2
assign [class="TeXstudio"] $ws2
assign [class="octave-gui"] $ws2
assign [class="Sublime_text"] $ws2
assign [class="Subl3"] $ws2
assign [class="Atom"] $ws2

assign [class="Firefox"] $ws3
assign [class="firefox"] $ws3
assign [class="Navigator"] $ws3
assign [class="brave-browser"] $ws3
assign [class="Brave-browser"] $ws3
assign [class="Chromium-browser"] $ws3

assign [class="Xreader"] $ws4
assign [class="Zathura"] $ws4

assign [class="libreoffice-startcenter"] $ws5
assign [class="libreoffice-writer"] $ws5
assign [class="libreoffice-impress"] $ws5
assign [class="libreoffice-calc"] $ws5
assign [class="Thunderbird"] $ws5

assign [class="feh"] $ws6
assign [class="FreeCAD"] $ws6
assign [class="Nitrogen"] $ws6
assign [class="Pix"] $ws6
assign [class="Matplotlib"] $ws6
assign [class="matplotlib"] $ws6
assign [class="Paraview"] $ws6
assign [class="paraview"] $ws6
assign [class="Inkscape"] $ws6
assign [class="gl"] $ws6
assign [class="mpv"] $ws6


#########################################################################
#################   execute applications at boot time   #################
#########################################################################

# USER APPLICATIONS TO START AT BOOT

# screen layout home

# TRAY APPLICATIONS

# applications that are not installed will not start
# you may see a wheel - hashtag out things you do not want

#Authentication dialog
exec --no-startup-id /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

# Updater
# exec --no-startup-id pamac-tray

# bluetooth
exec --no-startup-id blueberry-tray

# network
exec --no-startup-id nm-applet &

# num lock activated
exec_always --no-startup-id numlockx on

# redshift
exec redshift -p -O 4500 &

# tap to click
exec_always --no-startup-id \
                        /home/cardoso/.config/i3/scripts/pad_on_off.sh click
# insync
#exec --no-startup-id insync start

# volume
# exec --no-startup-id volumeicon

# sets wallpaper
exec_always --no-startup-id nitrogen --restore

# udiskie for automounting external drives
exec udiskie &

# exec --no-startup-id thunderbird

#Polybar
# exec_always --no-startup-id ~/.config/polybar/launch.sh &

# keyboard speed up
exec xset r rate 300 50

##################################################################
#########        system applications             #################
##################################################################
exec --no-startup-id xfce4-power-manager &
# ommitted next line to get super key to bring up the menu in xfce and avoid
#   error then in i3
# IF xfsettingsd is activated you can not change themes
#exec --no-startup-id xfsettingsd &
exec --no-startup-id /usr/lib/xfce4/notifyd/xfce4-notifyd &
# exec_always --no-startup-id dunst


#############################################################################
#################       applications keyboard shortcuts     #################
#############################################################################

#not workspace related

# terminal
bindsym $mod+Return exec --no-startup-id termite;focus


#xkill
bindsym --release $mod+Escape exec xkill

#workspace 8 related
for_window [class="Thunar"] focus
bindsym $mod+Shift+Return exec --no-startup-id termite \
            -e /home/cardoso/.config/vifm/scripts/vifmrun; focus


#########################################################
#################   floating or tiled   #################
#########################################################
#floating enabled from some programs - find with xprop

for_window [class="Bleachbit"] floating disable
for_window [class="Blueberry.py"] floating enable
for_window [class="Brasero"] floating disable
for_window [class="Galculator"] floating enable
for_window [class="Gnome-disks"] floating disable
for_window [class="^Gnome-font-viewer$"] floating enable
for_window [class="^Gpick$"] floating enable
for_window [class="Hexchat"] floating disable
for_window [class="Imagewriter"] floating enable
for_window [class="Font-manager"] floating enable
#for_window [class="qt5ct|Lxappearance] floating enable
for_window [class="Nitrogen"] floating disable
for_window [class="Pavucontrol"] floating disable
for_window [class="Peek"] floating enable
for_window [class="^Skype$"] floating enable
for_window [class="^Spotify$"] floating disable
for_window [class="System-config-printer.py"] floating enable
for_window [class="Unetbootin.elf"] floating enable
for_window [class="Usb-creator-gtk"] floating enable
for_window [class="^Vlc$"] floating disable
for_window [class="Wine"] floating disable
for_window [class="Xfburn"] floating disable
for_window [class="Xfce4-appfinder"] floating enable
for_window [class="Xfce4-settings-manager"] floating disable
for_window [class="Xfce4-taskmanager"] floating enable
for_window [class="arandr"] floating enable
for_window [class="Arandr"] floating enable


#for_window [instance="gimp"] floating disable
for_window [instance="script-fu"] border normal
for_window [instance="variety"] floating disable


for_window [title="Copying"] floating enable
for_window [title="Deleting"] floating enable
for_window [title="Moving"] floating enable
for_window [title="^Terminator Preferences$"] floating enable


#for_window [window_role="^gimp-toolbox-color-dialog$"] floating enable
for_window [window_role="pop-up"] floating enable
for_window [window_role="^Preferences$"] floating enable
for_window [window_role="setup"] floating enable


#######################################################
#################    audio settings   #################
#######################################################
bindsym XF86AudioRaiseVolume exec --no-startup-id \
        "amixer -D pulse sset Master '5%+' && notify-send 'vol up'"
bindsym XF86AudioLowerVolume exec --no-startup-id \
        "amixer -D pulse sset Master '5%-' && notify-send 'vol down'"
bindsym XF86AudioMute exec --no-startup-id \
        "amixer -D pulse set Master toggle && notify-send 'MUTE'"
#https://github.com/acrisci/playerctl/
bindsym XF86AudioPlay exec --no-startup-id playerctl play-pause
bindsym XF86AudioNext exec --no-startup-id playerctl next
bindsym XF86AudioPrev exec --no-startup-id playerctl previous
bindsym XF86AudioStop exec --no-startup-id playerctl stop


##################################################
#################   xbacklight   #################
##################################################
bindsym XF86MonBrightnessUp exec --no-startup-id xbacklight -inc 5 \
        && notify-send "brighten up" # increase screen brightness
bindsym XF86MonBrightnessDown exec --no-startup-id xbacklight -dec 5 \
        && notify-send "brighten down" # decrease screen brightness


##################################################
#################   bar toggle   #################
##################################################
# bar toggle, hide or show
bindsym $mod+b bar mode toggle

######################################################
#################   border control   #################
######################################################
# Border control
#hide_edge_borders both
bindsym $mod+shift+b exec --no-startup-id i3-msg border toggle

#changing border style
#super+t in arcolinux is starting terminal
# bindsym $mod+t border normal
# bindsym $mod+y border 1pixel
# bindsym $mod+u border none

#######################################################
#################   Popups  control   #################
#######################################################

#Popups during fullscreen mode
popup_during_fullscreen smart

####################################################
#################   i3 gaps next   #################
####################################################
# Settings for I3 next gap git
# https://github.com/Airblader/i3/tree/gaps-next
# delete or uncomment the following lines if you do not have it or do not
# want it
for_window [class="^.*"] border pixel 4
set $inner_gaps 6
gaps inner $inner_gaps
gaps outer -4
# smart_gaps on
# smart_borders on


######################################################
#################   i3 gaps change   #################
######################################################
set $mode_gaps Gaps: (o) outer, (i) inner
set $mode_gaps_outer Outer Gaps: +|-|0 (local), Shift + +|-|0 (global)
set $mode_gaps_inner Inner Gaps: +|-|0 (local), Shift + +|-|0 (global)
bindsym $mod+Shift+g mode "$mode_gaps"

mode "$mode_gaps" {
        bindsym o      mode "$mode_gaps_outer"
        bindsym i      mode "$mode_gaps_inner"
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

mode "$mode_gaps_inner" {
        bindsym plus  gaps inner current plus 5
        bindsym minus gaps inner current minus 5
        bindsym 0     gaps inner current set 0

        bindsym Shift+plus  gaps inner all plus 5
        bindsym Shift+minus gaps inner all minus 5
        bindsym Shift+0     gaps inner all set 0

        bindsym Return mode "default"
        bindsym Escape mode "default"
}
mode "$mode_gaps_outer" {
        bindsym plus  gaps outer current plus 5
        bindsym minus gaps outer current minus 5
        bindsym 0     gaps outer current set 0

        bindsym Shift+plus  gaps outer all plus 5
        bindsym Shift+minus gaps outer all minus 5
        bindsym Shift+0     gaps outer all set 0

        bindsym Return mode "default"
        bindsym Escape mode "default"
}


#######################################################
#################   compton of i3wm   #################
#######################################################
#if you want transparency on non-focused windows, ...
# exec_always --no-startup-id compton --config ~/.config/i3/picom.config &
exec_always picom &

######################################################
#################   bar appearance   #################
######################################################
# set primary gruvbox colorscheme colors
set $bg         #282828
set $red        #cc241d
set $red_1      #9d0006
set $green      #98971a
set $yellow     #d79921
set $blue       #458588
set $purple     #b16286
set $aqua       #689d68
set $gray       #a89984
set $darkgray   #1d2021

bar {

    i3bar_command i3bar
    workspace_buttons yes
    font pango:Caskaydia Cove Nerd Font Mono 14
    mode hide
    hidden_state hide
    modifier Mod1

    position top
    # position bottom

    # system icons
    tray_output $firstMonitor

    # type status_command i3status without the config file and
    # you will get the standard i3status bar
    # Second one is the standard statusbar with my personal settings
    #status_command i3status
    status_command i3status -c ~/.config/i3/i3status.conf

# gruvbox
        colors {
                # bar background color
                background $darkgray
                # text color used for blocks that do not have a color specified.
                statusline $purple
                # workspaces section
                #                    border  backgr. text
                # focused_workspace    $purple $purple $darkgray
                focused_workspace    $red_1 $red_1 $darkgray
                inactive_workspace   $darkgray $darkgray $aqua
                active_workspace     $aqua $aqua $darkgray
                urgent_workspace     $red $red $bg
            }

}



#       Gruvbox Theme   brdr       bg         text       indictr    cld_brdr
client.focused          $red_1    $red_1    $darkgray  $red_1    $red_1
client.focused_inactive $aqua      $aqua      $darkgray  $aqua      $aqua
client.unfocused        $darkgray  $darkgray  $darkgray  $darkgray  $darkgray
client.urgent           $red       $red       $gray      $red
client.placeholder      $darkgray  $darkgray  $darkgray  $darkgray  $darkgray
client.background       #000b1e

# se obtiene ID con el comando xinput
# #Turn off Touchpad
bindsym $mod+p exec --no-startup-id \
                        /home/cardoso/.config/i3/scripts/pad_on_off.sh off

#Turn on Touchpad
bindsym $mod+o exec --no-startup-id \
                        /home/cardoso/.config/i3/scripts/pad_on_off.sh on

